@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
body {
  font-family: 'Roboto Slab';
  background: #FCFCFC;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
  font-weight: bold;
}
.wrapper_themename {
  width: 100%;
  max-width: 100em;
}
